/* header.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1122px; */
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 0 1rem 1rem 1rem;
    background-color: white;
}

.container {
    width: 1140px;
    margin: 0 auto;
    display: flex;    
}

header .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    width: 230px;
    height: 75px;    
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.log-img {
    display: inline-block;
}

.log h2 {
    width: 125px;
    margin-top: 100px;
    display: inline-block;
}

.login {
    width: 220px;
    height: 75px;    
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.login h3 {
    display: inline-block;
    margin: 20px;
}

header .down {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;    
    list-style-type: none;
}

header nav ul li {
    padding: 10px 50px;
    font-size: 1.2rem;
}

header .nav-sub{
    display: none;
}