/* font.css */
* {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.logo-text h2{
    font-weight: 700;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

.notice li, .facility P, .location P{
    color: rgb(80, 80, 0);
}

.footer-link a{
    text-decoration: none;
    color: black;    
}

.footer-text{
    color: gray;
}

.nav-sub li{
    color: rgb(80, 80, 0);
}

.text-red{
    color: red;
}

.text-blue{
    color: blue;
}