/* header.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

header {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    padding: 0 1rem 0 1rem;
    background-color: white;
}

.container {
    width: 1140px;
    margin: 0 auto;
    display: flex;    
}

header .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    width: 230px;
    height: 75px;    
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.log-img {
    display: inline-block;
}

.log h2 {
    width: 125px;
    margin-top: 100px;
    display: inline-block;
}

.login {
    width: 220px;
    height: 75px;    
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.login h3 {
    display: inline-block;
    margin: 20px;
}

header .down {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header nav ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    list-style-type: none;
}

header nav ul li {
    padding: 15px 50px;
    width: 180px;
    font-size: 1.2rem;
}

header nav ul li:hover {    
    padding: 13px 46px;
    font-size: 1.3rem;
    font-weight: 800;
}


header .nav-sub{
    /* display: none; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 0px;
    transition-property: height;
    transition-duration: 0.5s;
}

header .nav-sub-show{
    height: 320px;
}

.sub-box1, .sub-box2, .sub-box3, .sub-box4, .sub-box5{
    display: inline-block;
    width: 180px;
    height: 300px;
    overflow: hidden;
}

.sub-box-show{
    border-left: 1px solid rgba(160, 160, 160, 0.5);
    border-right: 1px solid rgba(160, 160, 160, 0.5);
    background-color:  rgba(160, 160, 160, 0.1);;
}


.nav-sub li{
    list-style-type: none;
    padding: 5px 0 5px 40px;
}

.nav-sub li:hover{
    color: black;    
    font-weight: 800;
}